/*FIX Печати*/
.print_logo{display: none;}

@media print{
	a[href^="http"]:not([href*="plitalon.ru"]):after {
	    content: " (" attr(href) ")" !important;
	}
	#pageControl, .card-tabs, #bx-panel, .navcard, .links, .cardcalc, .contents.socials, .btnmod, .downloads, .dop_name{display: none !important;}
	h1, .title2{font-size: 20px !important; margin-top: 30px !important; margin-bottom: 10px !important;}
	.card .specification .contents p{font-size: 15px !important; margin-bottom: 5px !important;}
	.card .code_card .article p{font-size: 15px !important}
	.card .specification .contents span{font-size: 15px !important;}
	*,*:before,*:after,*:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
	/*body > *:not(main) { display: none;}*/
	abbr[title]:after { content: " (" attr(title) ")";}
	.code_card{display: block !important; text-align: left !important; font-size: 16px !important;}
	.slider a{font-size: 0 !important;}
	a{font-size: 0 !important}
	.card .specification-wr{padding: 0 !important; width: 80% !important;}
	.card .specification .cost{margin: 0 !important; font-size: 18px !important}
	.card .specification .cost strong{float: right !important;}
	.cardtabtitle{display: none !important;}
	.card .card-text{font-size: 15px !important;}
	.print_logo{display: table !important; margin: 20px 0 0; width: 100%; border-bottom: 1px solid #ccc; padding: 0 0 20px;}
	.print_logo{font-size: 36px !important;}
}	