.delivery .contents .imgwr img {
    width: 100%;
}

.delivery .videowr .el .wrimg img {
    width: 100%;
}

.portnaver .slick-slide {
    padding: 0 5px;
    -webkit-transition: .3s;
    transition: .3s;
    overflow: hidden;
    position: relative;
}

.portnaver .slick-slide:before {
    position: absolute;
    content: "";
    z-index: 3;
    bottom: 0;
    width: 0;
    left: 50%;
    right: 50%;
    height: 4px;
    background: #40a23c;
    -webkit-transition: .4s;
    transition: .4s;
}

.portnaver .slick-slide:hover:before {
    width: calc(100% - 10px);
    left: 5px;
    right: 5px;
}

.portnaver .slick-slide img {
    width: 100%;
    -webkit-filter: grayscale(0.7);
    filter: grayscale(0.7);
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    position: relative;
}

.portnaver .slick-slide:hover img {
    -webkit-box-shadow: 0 0 16px 2px rgba(60, 160, 60, 0.6);
    box-shadow: 0 0 16px 2px rgba(60, 160, 60, 0.6);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.portnaver.slick-slider .slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -5px;
    margin-right: -5px;
}

@media (max-width: 1880px) {
    .header .hsearch input {
        width: 450px;
    }

    #searchchep .contentwr .tit {
        font-size: 25px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1330px;
    }
}

@media (max-width: 1660px) {
    .catalog-filters .filter-units .selecter .window-result {
        right: inherit;
        background: #ffffff;
        padding: 5px 10px;
        margin-right: 15px;
        z-index: 8;
        left: 0;
        width: 160px;
        top: -100px !important;
    }

    .catalog-filters .filter-units .selecter .window-result:before {
        content: "";
        top: 100%;
        margin-top: -19px;
        background: url("../images/wibbef.png") no-repeat right center;
        right: 100%;
        margin-right: -16px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
  /* .myorder .order-unit .val.val2{*/
  /*   width: 302px;*/
  /* }*/
    .login .login-val {
        background-size: cover;
    }

    .header .hsearch input {
        width: 400px;
    }

    .header .flex .logo img {
        width: 290px;
    }

    .header .hcontact .phone {
        font-size: 30px;
    }

    .design .units2 .el .unval img {
        max-width: 100%;
    }

    .catalog-filters .filter-units .selecter .window-result:before {
        content: "";
        position: absolute;
        z-index: 9;
        background: #ffffff;
        width: 14px;
        height: 14px;
        transform: rotate(135deg);
        margin-top: -7px;
        border: 7px solid #ffffff;
        border-top: 7px solid #40a23c;
        border-right: 7px solid #40a23c;
        margin-right: -27px;
    }

    .catalog-filters .filter-units .selecter .window-result:after {
        content: "";
        position: absolute;
        z-index: 10;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: rotate(45deg);
        left: 100%;
        margin-top: -8px;
        margin-left: -11px;
        background: #f1f8f1;
    }

    .catalog-filters .filter-units .selecter .window-result {
        padding-bottom: 14px;
        background: #f1f8f1;
        padding-top: 10px;
    }

    .catalog-filters .filter-units .selecter .window-result:after {
        content: "";
        position: absolute;
        z-index: 10;
        width: 16px;
        height: 16px;
        top: 50%;
        transform: rotate(45deg);
        left: inherit;
        margin-top: -11px;
        margin-left: 12px;
        background: #f1f8f1;
        left: 0;
        top: 100%;
    }
}

@media (max-width: 1440px) {
    .cart .cart-table td .cartcalc input {
        width: 84px;
    }

    .lk .units3 .btn {
        background: #ffffff !important;
        border: 1px solid #40a23c;
        padding: 0;
        text-align: center;
        color: #363535 !important;
        padding-left: 60px;
        margin-bottom: 10px;
    }

    .lk .units3 .btn.btn1:before {
        width: 105px;
    }

    .lk .units3 .btn.btn2:before {
        width: 108px;
    }

    .lk .units3 .btn:hover {
        background: rgba(60,160,60,.5) !important;
        color: #ffffff !important;
    }

    .checkout .form .fwr .loadfile i {
        font-size: 16px;
    }

    .checkout .form .fwr .formgreyres {
        font-size: 18px;
        border: none;
    }

    .contacts .units .un p {
        font-size: 26px;
    }

    .checkout .chdeliv .df .nice-select {
        width: 590px;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        font-size: 17px;
        margin-left: 15px;
    }

    .catalog-filters .filter-units .rangeflex .el.el1 {
        margin-bottom: 7px;
    }

    .design .units3 .el .elwr {
        max-width: 357px;
    }

    .design .form .flex .el {
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    }

    .card .specification .contents p {
        font-size: 17px;
    }

    .contents.socials img {
        width: 27px;
    }

    .card .specification .contents p span {
        width: 190px;
    }

    .popular .cartcalc input {
        width: 60px;
    }

    .catalog-filters .filter-units .rangeflex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .openfullcatalog .units {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header .hsearch input {
        width: 300px;
    }

    .header .hcontact .phone {
        font-size: 23px;
    }

    .header .flex .logo img {
        width: 250px;
    }

    .header .htime {
        font-size: 18px;
    }

    .header .hicons a, .header .hicons button {
        margin-left: 18px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        background-size: 100% 100% !important;
        margin-left: 8px;
    }

    .header .hicons a img, .header .hicons button img {
        width: 18px;
    }

    .openfullcatalog .units .el.el6 {
        -ms-flex-preferred-size: 17.53%;
        flex-basis: 17.53%;
    }

    .openfullcatalog .units .el.el5 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .openfullcatalog .units .el.el5 .unit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .openfullcatalog .units .el.el6 .unit .info {
        font-size: 16px;
    }

    .openfullcatalog .units .el .unit {
        border: none;
    }

    .openfullcatalog .units .el .unit .minun {
        border: 3px solid #d0ccce;
    }

    .openfullcatalog .units .el.el5 .unit .info {
        font-size: 16px;
    }

    .openfullcatalog .units .el.el5 .unit .minun {
        margin-right: 35px;
    }

    .openfullcatalog .units .el.el5 .unit .minun.allminum {
        -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
        margin-right: 0;
    }

    .openfullcatalog .units .el .unit .unimg img {
        height: 109%;
    }

    .catalog-filters .filter-units .rwrcost .flexrangecost {
        width: 200px;
    }
}

@media screen and (max-width: 1280px) {
    .cart .cart-table .thw1 {
        width: 34%;
    }

    .design .form .flex .el .loadfile i {
        font-size: 18px;
        min-width: 195px;
        color: #d0ccce;
    }

    .loadfile i {
        font-size: 18px;
    }

    .checkout .form .fwr .formgreyres {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .cart .cart-table td .cartcalc button {
        width: 24px;
    }

    .cart .cart-table td .df .dcont .t1 {
        width: 190px;
    }

    .checkout .cart .cart-table {
        min-width: inherit;
        width: calc(100% - 2px);
    }

    .checkout .form .fwr .loadfile i {
        font-size: 14px;
        padding-left: 22px;
        background-size: 17px auto;
    }

    .lk .unit2 .val p {
        font-size: 21px;
    }

    .myorder .order-unit .lktit {
        margin-bottom: 6px;
    }

    .cart .container {
        width: 100%;
    }

    .cart .container .cart-table {
        min-width: 900px;
    }

    .cart .cart-table td p {
        font-size: 16px;
    }

    .header .cartheaderlist .js-customscroll {
        height: 260px;
    }

    .checkout .cart .cart-table {
        min-width: 800px;
    }

    .downloads .units .el {
        -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
    }

    .card .specification {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card .specification .cost {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 15px;
    }

    .card .specification-wr {
        padding-left: 0;
    }

    .card .specification .cardcalc {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .card .specification .cardcalc .cardun1-button {
        height: 44px;
    }

    .card .specification .contents {
        padding-top: 0;
        border-bottom: none;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .pagin_numbcard {
        padding-top: 15px;
    }

    .openfullcatalog .units .el.el1 {
        -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    }

    .openfullcatalog .units .el.el1 .unit {
        width: 100%;
    }

    .openfullcatalog .units .el.el2 .unit, .openfullcatalog .units .el.el3 .unit {
        width: 100%;
    }

    .lk .units3 .btn {
        background: #ffffff !important;
        border: 1px solid #40a23c;
        padding: 0;
        text-align: center;
        color: #363535 !important;
        margin-bottom: 10px;
    }

    .lk .units3 .btn:before {
        display: none;
    }

    .header .hsearch input {
        width: 280px;
    }

    .header .hcontact .phone {
        font-size: 20px;
    }

    .header .hicons a, .header .hicons button {
        margin-left: 14px;
    }

    .header .hicons a:first-child, .header .hicons button:first-child {
        margin-left: 0;
    }

    .header .flex .logo img {
        width: 220px;
    }

    .header .hsearch input {
        height: 40px;
    }

    .header .hsearch button, .header .hsearch input[type="submit"] {
        height: 40px;
        line-height: 40px;
    }

    .partners .slick-slide img {
        max-width: 94%;
    }

    .catalog-filters .filter-units .rwrcost .flexrangecost {
        width: 155px;
    }

    .popular .cartcalc input {
        width: 76px;
    }

    .popular .cardcalc .cardun1-button {
        font-size: 16px;
    }

    .catalog_container .flex_val .unitcard1 .dopinfocard .moreinfo p {
        font-size: 15px;
    }

    .card .specification .contents.socials p a img {
        width: 24px;
    }

    .checkout .chdeliv .df {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .checkout .chdeliv .df .nice-select {
        width: 100%;
        min-width: 500px;
    }

    .openfullcatalog .units .el.el5 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .openfullcatalog .units .el.el5 .unit .unimg {
        border: 3px solid #d0ccce;
    }

    .openfullcatalog .units .el.el5 .unit {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .openfullcatalog .units .el.el5 .unit .minun {
        margin-right: 10px;
        border: none;
        -ms-flex-preferred-size: 25% !important;
        flex-basis: 25% !important;
        overflow: hidden;
    }

    .openfullcatalog .units .el.el5 .unit {
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        border: none;
    }

    .openfullcatalog .units .el.el6 {
        -ms-flex-preferred-size: 19%;
        flex-basis: 19%;
    }

    .design .form .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .design .form .flex .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .navigate .navigate-wrap .topnav li > a {
        font-size: 18px;
    }

    .header .flex .logo img {
        width: 180px;
    }

    .header .hsearch input {
        width: 200px;
        padding-left: 15px;
    }

    .openfullcatalog .units .el.el4 .unit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: auto;
        width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .openfullcatalog .units .el.el4 .unit .minun {
        -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%;
    }

    .openfullcatalog .units .el.el4 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .catalog_container .flex_val .unitcard1wr {
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    }

    .slickcard .slick-slide img {
        width: 100%;
    }

    .table-deliv th {
        font-size: 14px;
    }

    .cart .cart-table td .cartcalc input {
        width: 70px;
        font-size: 14px;
    }

    .cart .cart-table .thw4 {
        width: 16%;
    }

    .cart .cartresult .info p {
        font-size: 20px;
    }

    .cart .cartresult .info p b, .cart .cartresult .info p strong {
        font-size: 22px;
    }

    .cart .cart-table td p {
        font-size: 18px;
    }

    .cart .cart-table td .df .dcont .t1 {
        font-size: 18px;
    }

    .design .units3 .el {
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
        overflow: hidden;
    }

    .design .units3 {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer .f2 .fright .social a {
        width: 44px;
        height: 44px;
        margin-left: 10px;
    }

    .footer .f2 .flex > div.logo img {
        width: 250px;
    }

    .checkout .sidebar {
        padding-left: 0px;
    }

    .el .unit .unimg img {
        height: 101%;
        width: 100%;
    }

    .header .hicons .hi98 {
        margin-left: 14px;
    }

    .checkout .chdeliv .df .nice-select {
        width: 100%;
        min-width: 425px;
        margin-left: 0;
    }
}

.checkout .cart .cart-table {
    min-width: inherit;
    width: 99%;
}
@media screen and (max-width: 1199px) {
    .card .navcard .slick-slide {
    max-height: 180px;
    }
}
@media screen and (max-width: 992px) {
    .slickport .slick-slide img {
        width: 800px;
    }

    .slickport .pscont {
        padding: 10px 60px 10px 60px;
    }

    .slickport .pscont p {
        font-size: 26px;
    }

    .allbrands .brand-tabs {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .allbrands .brand-tabs > span a {
        margin-bottom: 15px;
    }

    #searchchep .modal-content {
        background: #ffffff;
    }

    #searchchep .modal-dialog {
        margin-top: 90px;
    }

    #searchchep .close {
        right: 0;
        top: -78px;
    }

    .checkout .form .fwr .loadfile {
        float: none;
    }

    .checkout .form .fwr .loadfile i {
        font-size: 16px;
    }

    .checkout .sidebar {
        position: static !important;
        margin-bottom: 20px;
    }

    .design .form .flex .el .loadfile {
        padding-top: 0;
        display: block;
        width: calc(100% - 169px);
    }

    .navigate-wrap {
        height: 370px;
    }

    .checkout .cart .cart-table {
        min-width: inherit;
    }

    .myorder .order-unit .val .flex .bl6 p {
        height: auto;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.2;
    }

    .myorder .order-unit .val .flex .tit:before {
        margin-top: 14px;
    }

    .cart .container {
        width: 100%;
    }

    .cart .container .cart-table {
        min-width: 852px;
    }

    .design .form .flex .el .loadfile i {
        min-width: inherit;
        width: 100%;
    }

    .cart .cart-table td p {
        font-size: 16px;
    }

    .downloads .units .el {
        -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    }

    .table-deliv td {
        font-size: 16px;
    }

    .checkout .unitdouble .delres {
        text-align: center;
        display: none;
        border-top: 1px solid #d0ccce;
        border-left: none;
        padding-left: 0;
        padding-top: 15px;
        margin-top: 15px;
    }

    .checkout .unitdouble.unitdoublepay .delreswr {
        border-left: none;
    }

    .catalog-filters .filter-units .rwrcost .flexrangecost {
        width: 260px;
    }

    .header .hicons button.searchmob {
        display: inline-block;
    }

    .design .units1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .design .units1 .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 30px 0;
    }

    .cart .cartresult .info p {
        margin-left: 20px;
        text-align: right;
        margin-bottom: 10px;
    }

    .cart .cartresult .info p span, .cart .cartresult .info p b, .cart .cartresult .info p strong {
        display: block;
        margin-top: 7px;
        margin-left: 0;
    }

    .login .login-val .form {
        width: 60%;
    }

    .catalog_container .flex_val .unitcard1wr {
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    }

    .pagin_numbcard {
        margin-top: 25px;
    }

    .searchmob {
        display: block;
        width: 260px;
        position: relative;
    }

    .searchmob input {
        background: #ffffff;
        border: 1px solid #40a23c;
        width: 100%;
        height: 36px;
        padding: 0 10px;
    }

    .searchmob button {
        height: 36px;
        width: 36px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        background: transparent url("../images/hsearch.png") no-repeat center center;
        border: none;
    }

    .header {
        padding: 10px 0;
    }

    .fixheader {
        padding-top: 78px;
    }

    .main_info .imgwr, .main_info .lbl .lblval, .main_info .rbl .lblval {
        height: 210px;
    }

    .main_info .cbl {
        height: 435px;
    }

    .main_info .lbl, .main_info .rbl {
        height: 435px;
    }

    .main_info {
        height: auto;
    }

    .unitcard1 .unval .tit {
        font-size: 16px;
    }

/*    .unitcard1 .uimg {
        height: 100%;
		
    }*/

    .unitcard1 .tit2, .unitcard1 .cost2 {
        font-size: 16px;
    }

    .popular .cartcalc input {
        width: 80px;
    }

    .about_main .flex .contwr p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .about_main .flex .contwr p.tit {
        font-size: 22px;
    }

    .footer .f2 .fright .social a {
        width: 42px;
        height: 42px;
        background-size: 30px;
    }

    .footer .f2 .flex > div.logo img {
        width: 200px;
    }

    .footer .f1 .elimg {
        width: 160px;
        height: 160px;
    }

    .footer .f1 .elimg:before {
        width: 140px;
        height: 140px;
    }

    .footer .f1 .el .tex {
        width: 210px;
        font-size: 16px;
        max-width: 90%;
    }

    .header .htime {
        display: none;
    }

    .header .flex > div.hicons {
        padding-right: 40px;
    }

    .header .cartheaderlist {
        right: 54px;
        margin-top: 0px;
    }

    .unitcard2 .unitcard2-wrap .tit {
        font-size: 22px;
    }

    .unitcard2 .unitcard2-wrap .tex {
        font-size: 14px;
    }

    .title {
        font-size: 30px;
    }

    .botnav.navigate {
        display: none !important;
    }

    .navigate .navigate-wrap {
        background: none;
    }

    .navigate {
        display: block;
        position: fixed !important;
        width: 300px;
        left: -300px;
        background: #363535;
        top: 0;
        height: 100% !important;
        -webkit-transition: .5s;
        transition: .5s;
        overflow: hidden;
        padding-top: 85px;
    }

    .navigate .navigate-wrap .topnav li.active > a {
        border-bottom: none;
    }

    .navigate .navigate-wrap .topnav li > a {
        font-size: 18px;
        padding: 5px 0px;
        margin-bottom: 10px;
    }

    .navigate .navigate-wrap .topnav {
        display: block;
    }

    body {
        position: relative;
    }

    body:before {
        content: "";
        position: fixed;
        width: 0;
        z-index: 0;
        background: #000000;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
    }

    body.openmobmenu {
        overflow: hidden;
        position: relative;
    }

    body.openmobmenu:before {
        opacity: .5;
        width: 100%;
        z-index: 99;
    }

    .openmobmenu .navigate {
        left: 0;
    }

    .fixheader {
        padding-top: 0;
    }

    body {
        -webkit-transition: .5s;
        transition: .5s;
        padding-top: 0;
    }

    .openmobmenu .fixheader .header {
        -webkit-transition: left .5s;
        transition: left .5s;
        left: 0px;
    }

    .css-topnav {
        position: fixed;
        z-index: 99;
        left: 0;
        width: 100%;
        top: 0;
    }

    .hsearch {
    /*display: none;*/
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        padding: 8px 15px;
        background: #ffffff;
        display: none;
        top: 0px;
    }

    .hsearch input::-webkit-input-placeholder {
        color: #000000;
        opacity: .5;
    }

    .hsearch input::-moz-placeholder {
        color: #000000;
        opacity: .5;
    }

    .hsearch input:-moz-placeholder {
        color: #000000;
        opacity: .5;
    }

    .hsearch input:-ms-input-placeholder {
        color: #000000;
        opacity: .5;
    }

    .hsearch form {
        padding-left: 50px;
    }

    .header .hsearch .jsclosesearch {
        display: block;
        position: absolute;
        left: 15px;
        top: 8px;
        z-index: 9;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 36px;
        text-align: center;
        font-size: 18px;
        color: #40a23c;
        background: #ffffff;
    }

    .header .hsearch .jsclosesearch i {
        font-size: 24px;
    }

    .header .hsearch button, .header .hsearch input[type="submit"] {
        right: 0px;
    }

    .header .hsearch button, .header .hsearch input[type="submit"] {
        background: transparent;
        color: #40a23c;
    }

    .header .hsearch input {
        width: 100%;
        color: #000000;
        border-radius: 20px;
        border: 2px solid #40a23c;
        background: #ffffff;
        line-height: 38px;
    }

    .header .hcontact {
        display: none;
    }

    .header .hicons .hi0 {
        display: inline-block;
    }

    .openfullcatalog {
        display: none !important;
    }

    .css-topnav .bars {
        top: 14px;
    }

    .slickcard .slick-slide img {
        width: 100%;
    }

    .card .specification-wr {
        padding-left: 0;
    }

    .card .specification .cost span,
  .card .specification .cost strong,
  .card .specification .cardcalc .cartcalc,
  .card .specification .contents p span {
        width: 50%;
        margin-right: 0;
    }

    .downloads .units {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 992px) {
    .bredcrumbs {
        margin-top: 100px;
        padding-bottom: 25px;
    }

    .card .specification .cost, .card .specification .cardcalc, .card .specification .contents {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .card .specification .cardcalc {
        margin-bottom: 15px;
    }

    .phonemob {
        display: block;
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #ffffff;
        -webkit-transition: .3s;
        transition: .3s;
    }

    .phonemob:hover {
        color: #40a23c;
    }

    .contacts .form {
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .table-deliv {
        overflow-y: auto;
    }

    .design .form .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .design .form .flex .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .design .form {
        margin-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .design .form .flex .el .df .formgreyres {
        margin-bottom: 10px;
    }

    .design .form .flex .el .df {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .design .units3 .el {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .design .units2, .design .units3 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .design .units2 .el {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-bottom: 15px;
    }

    .design .units2 .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .design .units2 .el .imgwr img {
        width: 100%;
    }

    .design .units2 {
        margin-left: 0;
        margin-right: 0;
    }

    .card .code_card .links {
        margin-right: 10px;
        margin-bottom: 3px;
    }

    .catalog_container .flex_val .unitcard1wr {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .main_info .imgwr, .main_info .lbl .lblval, .main_info .rbl .lblval {
        height: 165px;
    }

    .main_info p.p1 {
        font-size: 20px;
        margin-right: 35px;
    }

    .main_info p.p2 {
        font-size: 32px;
        padding-right: 15px;
    }

    .main_info p.p6 {
        font-size: 32px;
        margin-bottom: 18px;
    }

    .main_info p.p7 {
        margin-bottom: 15px;
        font-size: 38px;
    }

    .main_info p.p3 {
        padding-right: 15px;
    }

    .main_info p.p8 {
        margin-bottom: 15px;
        font-size: 42px;
    }

    .main_info .cbl, .main_info .lbl, .main_info .rbl {
        height: 345px;
    }

    .main_info .imgwr img {
        height: 100%;
    }

    .main_info p.p5 {
        font-size: 26px;
        margin-bottom: 10px;
        padding-right: 15px;
    }

    .main_info .cblval {
        padding-right: 15px;
    }

    .main_block {
        margin-top: 55px;
    }

    .footer .f1 .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer .f1 .flex .el {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-bottom: 26px;
    }

    .footer .f1 .flex .el .tit {
        width: 100%;
        border-bottom: none !important;
    }

    .footer .f1 {
        padding: 36px 0 32px;
        background: url("../images/f1-bg.jpg") repeat;
    }

    .footer .f2 .leftf .phone {
        font-size: 22px;
    }

    .footer .f2 .fright p a, .footer .f2 .leftf .email a, .footer .f2 .leftf .fmap a {
        font-size: 16px;
    }

    .footer .f2 .fright {
        -ms-flex-preferred-size: 390px;
        flex-basis: 390px;
    }

    .partners .slick-slide img {
        max-width: 84%;
    }

    .main_block .main_cont .unit p.tit {
        font-size: 55px;
    }

    .allbrands .tab-pane .flex .el {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }

    .allbrands .alphabet .alph1 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .allbrands .alphabet .alph1 .wordss a {
        margin-left: 0;
        margin-right: 10px;
    }

    .allbrands .alphabet .alph1 .wordss {
        margin-top: 10px;
    }

    .gratefull .btn.btnle {
        margin-bottom: 15px;
    }

    .cart .cart-table .thw1 {
        width: 38%;
    }

    .cart .cart-table td .cartcalc input {
        width: 54px;
        font-size: 13px;
    }

    .cart .cart-table td .df .dcont .t1 {
        width: 170px;
    }

    .design .units2 .el .elwr {
        max-width: 400px;
    }

    .design .units2 .el .elwr {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .table-deliv th.mw3 {
        width: 150px;
    }

    .table-deliv {
        min-width: 710px;
    }

    .table-deliv td {
        padding: 10px 4px;
    }
}
@media screen and (max-width: 991px){
    .card .navcard .slick-slide {
        max-height: 135px;
    }
}
@media screen and (max-width: 768px) {
    .card .navcard .slick-slide {
    max-height: 140px;
    }
    .card .navcard img{
    width: initial;
    }
    .brand_unit .uimg{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .services .flex .elwr {
        flex-basis: 100%;
        max-width: 100%;
        padding: 8px;
    }

    .unitcard1 .unval .tit {
        font-size: 14px;
    }

    .unitcard1 .unval .model {
        font-size: 16px;
    }

    .unitcard1 .tit2 {
        font-size: 20px;
    }

    .bredcrumbs a:before {
        top: 5px;
    }

    .bredcrumbs a {
        margin-bottom: 6px;
    }

    #searchchep form .loadfile span {
        display: block;
        text-align: center;
    }

    #searchchep form .loadfile i {
        display: block;
        margin-bottom: 8px;
    }

    #searchchep .contentwr .tit {
        font-size: 20px;
    }

    #searchchep .contentwr .tit2 {
        font-size: 18px;
    }

    #searchchep form label {
        font-size: 16px;
    }

    .catalog-filters .filter-units .rangeflex .el2 .catformcostr {
        top: 0;
    }

    .catalog-filters .filter-units .rangeflex {
        margin-bottom: 20px;
    }

    .table-deliv th:nth-child(1) {
        width: auto;
    }

    .myorder .order-unit .val p {
        height: auto;
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 1.1;
    }

    .myorder .order-unit .val {
        padding-top: 0px;
    }

    .myorder .order-unit .val .flex .bl4.nobut .btngreen {
        margin-top: 0;
    }

    .catalog-filters .filter-units .col-md-3.col-sm-6 {
        width: 50%;
        float: left;
    }

    .bredcrumbs span, .bredcrumbs a {
        font-size: 16px;
    }

    .checkout .chtit .el2 .wprad:first-child {
        margin-left: 0;
        margin-right: 15px;
    }

    .checkout .chtit .el1 {
        margin-top: 10px;
    }

    .downloads .units .el {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    }

    .catalog-filters .filter-units .rwrcost .flexrangecost {
        width: calc(100% - 60px);
        padding-left: 60px;
    }

    .catalog-filters .filter-units .rangeflex .el2 {
        width: 400px;
    }

    .catalog-filters .filter-units .rangeflex .el2 .slrange {
        width: 344px;
    }

    .gratefull .tit {
        font-size: 20px;
    }

    .gratefull .btn {
        font-size: 16px;
    }

    .gratefull .text {
        font-size: 17px;
    }

    .dfbet, .checkout .chtit, .checkout .chdeliv .df {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .checkout .unitdouble .df {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .checkout .unitdouble.unitdoublepay .delreswr {
        height: auto;
    }

    .checkout .sidebar {
        padding-left: 0;
        margin-bottom: 40px;
    }

    .checkout .unitdouble .delres {
        padding-left: 0;
    }

    .checkout .chdeliv .df .el {
        margin-bottom: 10px;
    }

    .checkout .chdeliv .df .nice-select {
        width: 100%;
        min-width: 250px;
    }

    .checkout .chtit .el2 .wprad {
        margin-left: 0;
        margin-top: 10px;
    }

    .dfbet .el a {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .dfbet .el2 a {
        margin-right: 10px;
        margin-left: 0;
        display: inline-block;
    }

    .dfbet .el2 a:last-child {
        margin-right: 0;
    }

    .myorder .order-unit .lktit {
        font-size: 18px;
    }

    .allbrands .tab-pane .flex .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .allbrands .brand-tabs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .allbrands .alphabet .alph2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .allbrands .alphabet .alph2 > * {
        margin-bottom: 8px;
    }

    .allbrands .brand-tabs > span {
        margin-bottom: 10px;
    }

    .login .login-val .form {
        width: 100%;
    }

    .form label {
        font-size: 16px;
    }

    .form .wrap .wprad {
        margin-right: 20px;
    }

    .relevant .unitcard2:nth-child(3) {
        display: none;
    }

    .relevant .unitcard2 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .about_main .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .about_main .flex > div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .about_main .flex .contwr {
        padding: 0 0;
    }

    .footer .f2 .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer .f2 .flex > .logo {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .f2 .flex > .leftf {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-top: 20px;
        text-align: center;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .footer .f2 .flex > div.fright {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }

    body {
        background-size: cover;
    }

    .brand_unit {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .brand_unit .uimg, .brand_unit .ucont {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .brand_unit .ucont {
        padding-top: 15px;
        padding-left: 0;
    }

    .download .text a {
        font-size: 22px;
        height: 38px;
        line-height: 34px;
        padding: 0 12px;
    }

    .material .flex .el {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .exposition .imgun .imgunwr {
        margin-bottom: 10px;
    }

    .exposition .imgun ul {
        margin-bottom: 15px;
    }

    .myorder .order-unit .val .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .myorder .order-unit .val .flex .bl4 {
        text-align: left;
        margin-left: 0;
        margin-bottom: 5px;
    }

    .myorder .order-unit .val .flex .bl2,
  .myorder .order-unit .val .flex .bl3 {
        padding: 0;
    }

    .myorder .order-unit .val.val1,
  .myorder .order-unit .val.val2,
  .myorder .order-unit .val.val3 {
        padding-left: 10px;
        background: none;
    }

    .catalog-filters .filter-units .rangeflex .el2 .slrange {
        width: 100%;
    }

    .catalog-filters .filter-units .rangeflex .el2 .catformcostl {
        float: none;
        margin-left: -9px;
    }

    .catalog-filters .filter-units .rangeflex .el2 .catformcostr {
        float: none;
        position: absolute;
        right: 5px;
    }

    .catalog-filters .filter-units .rangeflex .el2 {
        width: 100%;
        padding: 0 0 0 13px;
    }

    .catalog_container .flex_val .unitcard1 .dopinfocard .moreinfo p {
        display: block;
    }

    .main_info .imgwr, .main_info .lbl .lblval, .main_info .rbl .lblval {
        height: 200px;
    }

    .main_info .center-img img {
        width: 100%;
    }

    .navigate .navigate-wrap .topnav li > a {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .slickport .slick-slide img {
        width: 620px;
    }

    .design .form .flex .el .loadfile {
        width: 100%;
    }

    .catalog-filters .filter-units .col-md-3.col-sm-6 {
        width: 100%;
        float: none;
    }

    .downloads .units {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .downloads .units .el .uim img,
  .downloads .units .el .tit {
        width: 100%;
        max-width: 100%;
    }

    .downloads .units .el .uim img a,
    .downloads .units .el .tit a {
        font-size: 16px;
    }

    .downloads .units .el {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-right: 0;
    }

    .design .form .flex .el .df {
        display: block;
    }

    .popular .cartcalc input {
        width: 50px;
    }

    .catalog-filters {
        padding-top: 75px;
    }

    .portfsingle .contant p.tit {
        font-size: 22px;
    }

    .portfsingle .btnport:before {
        display: none;
    }

    .portfsingle .btnport {
        padding: 0 20px;
    }

    .slickport .pscont {
        bottom: 15px;
    }

    .slickport .pscont p {
        font-size: 16px;
    }

    .delivery .videowr {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .delivery .videowr .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .delivery .contents .imgwr {
        overflow: hidden;
    }

    .delivery .contents .imgwr img {
        height: 200px;
        width: auto;
    }

    .contacts .units .un p {
        font-size: 22px;
    }

    .contacts .units .un.un3 .imgwr p {
        width: 110px;
    }

    .contacts .units .un p {
        font-size: 20px;
    }

    .services .flex .elwr {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .thanks img {
        max-width: 100%;
    }

    .thanks p.tit {
        font-size: 40px;
    }

    .thanks p {
        font-size: 18px;
    }

    .card .specification .cardcalc {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card .specification .contents .btnmod {
        font-size: 18px;
    }

    .card .specification .cardcalc .cardun1-button {
        height: 40px;
        margin-top: 10px;
    }

    .card .specification .contents.socials p span {
        margin-bottom: 10px;
    }

    .card .specification .cost span,
  .card .specification .cost strong,
  .card .specification .cardcalc .cartcalc,
  .card .specification .contents p span {
        width: 100%;
        margin-right: 0;
    }

    .catalog-filters .filterblock .info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .navigate {
        padding-top: 120px;
    }

    .header .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .header .flex > div.hicons {
        padding-right: 32px;
    }

    .header .hicons a:first-child, .header .hicons button:first-child {
        margin-left: 0;
    }

    .main_block .imgwr img {
        width: 100%;
        width: auto;
        height: 330px;
    }

    .main_block {
        margin-top: 102px;
    }

    .main_block .main_cont .unit p.tit {
        font-size: 35px;
    }

    .main_block .main_cont .unit p.tex {
        font-size: 18px;
    }

    .main_info .cbl, .main_info .lbl, .main_info .rbl {
        width: 100%;
        padding: 0;
    }

    .main_info .lbl, .main_info .rbl {
        height: auto;
    }

    .main_info .cbl {
        height: 260px;
    }

    .sortingfilter {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .sortingfilter .el1 {
        padding-right: 0;
        padding-bottom: 10px;
    }

    .sortingfilter .el2 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .main_info .imgwr img {
        width: 100%;
        height: auto;
    }

    .navigate {
        width: 270px;
        padding-top: 10px;
    }

    .header .flex > div.hicons {
        flex-basis: 100%;
        padding-right: 0;
        padding-top: 15px;
    }

    .catalog-filters {
        padding-top: 100px;
    }

    .header .hicons a, .header .hicons button {
        float: none;
    }

    .header .hicons button.searchmob {
        position: relative;
        top: -12px;
    }

    .header .hicons a, .header .hicons button {
        margin-left: 6px;
        margin-right: 6px;
    }

    .header .flex > div.hicons {
        text-align: center;
    }

    .navigate .navigate-wrap .topnav li > a {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 550px) {
    .card .navcard .slick-slide {
    max-height: 90px;
    }
    .card .navcard img {
     width: 100%; 
    }
    .services .flex .el .maihov p {
        height: 160px;
        width: 160px;
        font-size: 23px;
        padding-top: 48px;
        background: #40a23c url('../images/servlink.png') no-repeat center 103px;
    }

    .services .flex .el .mai p {
        font-size: 33px;
    }

    #searchchep form .loadfile i {
        width: 100%;
    }

    .header .hicons a, .header .hicons button {
        margin-left: 4px;
        margin-right: 4px;
    }

    .header .hicons .hi98 {
        margin-left: 4px;
    }

    .contacts .units .un p {
        font-size: 16px;
    }

    .design .units3 .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .design .units3 .el .elwr {
        max-width: 100%;
    }

    .material .flex .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .catalog-filters .filterblock .info .infofoods {
        margin-bottom: 10px;
        display: inline-block;
    }

    .pagincust .pagincust-units > *.thepage {
        font-size: 16px;
        color: #40a23c;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: #ffffff;
        border: 1px solid #40a23c;
        line-height: 26px;
        text-align: center;
    }

    .pagincust .pagincust-units > * {
        margin: auto 5px;
    }

    .pagincust .prlink, .pagincust .nxlink, .pagincust .pagincust-units > *.allpage {
        font-size: 16px;
    }

    .catalog_container .flex_val .unitcard1wr {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .title {
        font-size: 24px;
    }

    .recomend .title {
        margin-bottom: 38px;
    }

    .relevant .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .relevant .unitcard2 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .aboutmaterial .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .aboutmaterial .unitcard3 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .footer .f1 .flex .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .main_info .center-img img {
        min-width: 100%;
    }

    .popular .cartcalc input {
        width: 68px;
    }

    .popular .cardcalc .cardun1-button {
        font-size: 16px;
        padding: 0 12px;
    }

    .header .cartheaderlist {
        right: 0;
        margin-top: 0px;
        max-width: 100%;
    }

    .header .cartheaderlist:before {
        right: 70px;
    }

    .header .cartheaderlist .unit {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .header .cartheaderlist .unit {
        position: relative;
    }

    .hremove {
        position: absolute;
        top: 0;
        right: 10px;
    }

    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }

    .mCSB_scrollTools {
        width: 6px;
    }

    .mCSB_scrollTools .mCSB_draggerContainer {
        background: #363535;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #40a23c;
    }

    .unitcard1 .uimg .cost {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .card .navcard .slick-slide {
    max-height: 80px;
}
    .card .code_card .links a {
        font-size: 16px;
    }

    .card .code_card .article p {
        font-size: 20px;
    }

    .title2 {
        font-size: 30px;
    }

    .card .code_card .article {
        padding-right: 25px;
    }

    .header .flex > div {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }

    .header .flex > div.logo {
        margin-bottom: 15px;
    }

    .catalog-filters {
        padding-top: 101px;
    }

    .card .card-tabs .buttons {
        padding-bottom: 27px;
    }

    .card .card-tabs .buttons a {
        margin-bottom: 10px;
    }

    .card .code_card .links {
        margin-bottom: 0;
    }

    .card .code_card .links a.lprev {
        padding-left: 17px;
    }

    .card .code_card .links a.active.lnext {
        padding-right: 17px;
    }

    .header .flex > div.hicons {
        padding-top: 0;
    }

    .catalog-filters {
        padding-top: 113px;
    }

    .downloads .units .el {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 420px) {
        .card .navcard .slick-slide {
    max-height: 70px;
    }
    .pagincust .pagincust-units > *.prlink {
        margin-right: 10px;
    }

    .pagincust .pagincust-units > *.nxlink {
        margin-left: 10px;
    }

    .pagincust .pagincust-units > * {
        margin: auto 2px;
    }

    .pagincust .pagincust-units > *.thepage {
        font-size: 15px;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        line-height: 20px;
    }

    .card .code_card .article p {
        font-size: 16px;
    }

    .contentblock p {
        font-size: 16px;
    }

    .catalog-filters .filter-units .rwrcost {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .catalog-filters .filter-units .rwrcost .flexrangecost {
        width: 100%;
        padding-left: 15px;
    }

    .sortingfilter .el2 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .sortingfilter .el2 .selfil {
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 992px) {
    .checkout .sidebar {
        z-index: 99;
        width: 326px;
    }

    .checkout .sidebar.fix {
        position: fixed;
    }

    .hsearch.hsearchmob {
        display: none !important;
    }
}
@media screen and (min-width: 1280px) {
    .checkout .sidebar {
        z-index: 99;
        width: 427px;
    }

    .checkout .sidebar.fix {
        position: fixed;
    }
}

@media screen and (max-width: 360px) {
    .header .hicons a, .header .hicons button {
        margin-left: 3px;
        margin-right: 3px;
    }
    .card .navcard .slick-slide {
        max-height: 58px;
    }
}

@media screen and (max-height: 360px) {
    .navigate {
    /*min-height: 310px;
    overflow: auto;
    padding-bottom: 40px;*/
    }

    .phonemob {
        bottom: inherit;
        top: 270px;
        position: static;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .navigate-wrap {
        height: auto;
    }
}
@media screen and (max-width: 313px) {
    .card .navcard img {
    width: initial;
    }
}