.css-topnav {
    position: relative;
}

.css-topnav .bars {
    display: none;
    position: absolute;
    right: -5px;
    top: 20px;
    z-index: 99;
}

.css-topnav .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 56px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    margin: 0 auto;
}

.css-topnav .c-hamburger:focus {
    outline: none;
}

.css-topnav .c-hamburger span {
    display: block;
    position: absolute;
    top: 16px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: #333333;
}

.css-topnav .c-hamburger span::before,
  .css-topnav .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333333;
    content: "";
}

.css-topnav .c-hamburger span::before {
    top: -7px;
}

.css-topnav .c-hamburger span::after {
    bottom: -7px;
}

.css-topnav .c-hamburger--htx {
    background-color: transparent;
    opacity: 0.9;
}

.css-topnav .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}

.css-topnav .c-hamburger--htx span::before,
  .css-topnav .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.css-topnav .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
    transition-property: top, transform;
    transition-property: top, transform, -webkit-transform;
}

.css-topnav .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform;
}

.css-topnav .c-hamburger--htx.is-active span {
    background: none;
}

.css-topnav .c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.css-topnav .c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.css-topnav .c-hamburger--htx.is-active span::before,
  .css-topnav .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}

@media screen and (max-width: 992px) {
    .css-topnav .bars {
        display: block;
    }

    .css-topnav .topnav {
        display: none;
    }

    .navigate {
        display: none;
    }
}
